@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* main rules */

body {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
}

/* header */

.navbar {
    position: relative;
    top: -7px;
    width: 100%;
    height: 120px;
    background: #3D444A;
    z-index: -4;
}

.navbar h2 {
    font-size: 1.5em;
}

.navbar h1 {
    position: relative;
    top: 10px;
    font-size: 2em;
}

.top-wrapper {
    position: relative;
    top: -20px;
    width: 100%;
    color: #fff;
    background: #2d99d8cb;
    z-index: -3;
}

.top-wrapper img {
    position: relative;
    display: block;
    top: 25px;
    margin: auto;
    padding-bottom: 60px;
    height: auto;
    width: 100%;
    max-width: 650px;
}

#img-caption {
    display: none;
}

/* main content */

.center-content {
    margin: auto;
    width: 650px;
}

.under-text h5 {
    font-size: 1.9em;
}

.main-text-container p {
    font-family: Montserrat, sans-serif;
    background-color:#fff;
    position: relative;
    margin: auto;
    padding: 10px;
    bottom: 36px;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 3em;
}

.main-text-container h4 {
    font-size: 1.9em;
    font-family: Montserrat, sans-serif;
}

.mid-grey-container {
    background: #a4ccd8;
    width: 100%;
    transform: skewY(-2deg);
    border-top-left-radius: 40px;
}

.mid-grey-container::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #a4ccd8;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}

.mid-grey-container::after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    top: -80px;
    right: 0px;
    z-index: -1;
    border-radius: 50%;
}

.mid-photo {
    display: block;
    transform: skewY(2deg);
    position: relative;
    padding: 20px;
}

.mid-photo::before {
    
}

/* footer */

.bottom-container {
    width: 100%;
    background: beige;
    height: auto;
    margin: 12em 2em;
}

.bottom-container {
    margin: 0;
    padding-top: 250px;
    height: auto;
    width: 100%;
    background: beige;
}

.bottom-container a {
    background: #00cc80;
    color: #fff;
    font-size: 1.4em;
    padding: 0.5em;
    position: relative;
}

.footer-container-items {
    position: relative;
    justify-content: center;
    top: -175px;
}

.footer-container h3 {
    font-size: 2.1em;
    position: relative;
}
